<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Add these permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baby_book_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baby_book_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyBook"
        tools:targetApi="31" >
        <activity
            android:name=".medicalrecord.ListOfMedicalRecord"
            android:exported="false" />
        <activity
            android:name=".medicalrecord.ViewMedicalRecord"
            android:exported="false" />
        <activity
            android:name=".medicalrecord.AddMedicalRecord"
            android:exported="false" />
        <activity
            android:name=".SearchClinicActivity"
            android:exported="false" />
        <activity
            android:name=".AddClinicActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".UpdateProfiledDoctor"
            android:exported="false" />
        <activity
            android:name=".ChildDetailsActivity2"
            android:exported="false" />
        <activity
            android:name=".ChildDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HealthRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ChildDetailsParentActivity"
            android:exported="false" />
        <activity
            android:name=".HealthRecordParentActivity"
            android:exported="false" />
        <activity
            android:name=".DeclinedRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AcceptedRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".SearchParentChatActivity"
            android:exported="false" />
        <activity
            android:name=".SearchDoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".ClinicDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SchedulesAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".SearchDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ParentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseUserActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUFo6Q1wZma0R4Fc7sSa1MlwDqKMQBDCY" />
    </application>

</manifest>